@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.BetterNamuButton .icon{
	font-size: 125%
}

button.BetterNamuButton {
border:none;
height:100%;
min-height:100%;
background:#373A45;
color:#FFF;
font-size:12pt;
font-family:"Nanum Gothic";
margin:0 0 0 0;
padding:8px 4px 8px 4px;
}

button.BetterNamuButton:hover {
background:#7D7F86;
}

div#EditInterfaceButtons {
color:#FFF;
background:#373A45;
height:50px;
min-height:50px;
width:100%;
margin:0 0 0 0;
padding:0 0 0 0;
}

vr {
height:100%;
width:0;
max-width:0;
margin:0 4px 0 4px;
padding:0;
}

div#EditInterfaceStatus {
color:white;
background:#7D7F86;
height:20px;
}

//나무픽스 컨픽버튼
#nf_settings{
position: fixed;
margin: 0px;
padding: 0px;
top: 0px;
bottom: 0px;
list-style-type: none;
border-width: 1px medium medium 1px;
border-style: solid none none solid;
border-color: #808080 -moz-use-text-color -moz-use-text-color #808080;
border-top-left-radius: 4px;
background-color: #3D414D;
z-index: 90005;
}

#Dialog{
	position: fixed;
	min-width: 300px;
	left: 50%;
	top: 50%;
	transform:translate(-50%, -50%);
	padding: 5px;
	border: 1px solid black;
	border-radius: 10px;
	background: white;
}

#Dialog > span#DialogTitle {
	color: black;
	padding: 0px;
	font-family: Nanum Gothic;
	font-size: 24px;
	font-weight: bold;
}

#DialogParent{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
}