@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.BetterNamuButton .icon{
	font-size: 125%
}

button.BetterNamuButton {
border:none;
height:100%;
min-height:100%;
background:#373A45;
color:#FFF;
font-size:12pt;
font-family:"Nanum Gothic";
margin:0 0 0 0;
padding:8px 4px 8px 4px;
}

button.BetterNamuButton:hover {
background:#7D7F86;
}

div#EditInterfaceButtons {
color:#FFF;
background:#373A45;
height:50px;
min-height:50px;
width:100%;
margin:0 0 0 0;
padding:0 0 0 0;
}

vr {
height:100%;
width:0;
max-width:0;
margin:0 4px 0 4px;
padding:0;
}

div#EditInterfaceStatus {
color:#000;
background:#7D7F86;
height:20px;
}